footer{
    background-color: $color2;
    text-align: center;
}
a{
    text-align: center;
    color: $color1;
    text-decoration: none;
}
h2{
    color: $color1;
    text-shadow: 3px 3px 3px grey;
}
h4{
    padding: 5px;
    color: $color1;
    margin: 0px;
}